{{#each products }}

  <div class="row">
      
      {{#each this}}
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail text-center">
            <img class="img_item img-responsive" src="{{this.imagePath}}" alt="heroes Game Cover">
              <div class="caption">
                <h4>{{ this.titile }}</h4>
                <p>{{this.description}}</p>
                <p class="price_item">${{this.price}}</p>
                <p><a href="#" class="btn btn-success btn-xs" role="button">Add to cart</a></p>
            </div>
          </div>
        </div>
      {{/each}}

  </div>
{{/each}}


