{{#each products }}
  Product!
{{/each}}


<div class="shop_items">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail text-center">
            <img class="img_item img-responsive" src="http://www.mobygames.com/images/covers/l/70472-heroes-of-might-and-magic-iii-complete-collector-s-edition-windows-front-cover.jpg" alt="heroes Game Cover">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p class="price_item">$5</p>
                <p><a href="#" class="btn btn-success btn-xs" role="button">Buy Now</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail text-center">
            <img class="img_item img-responsive" src="http://www.mobygames.com/images/covers/large/1019416361-00.jpg" alt="heroes Game Cover">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p class="price_item">$10</p>
                <p><a href="#" class="btn btn-success btn-xs" role="button">Buy Now</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="thumbnail text-center">
            <img class="img_item img-responsive" src="http://www.mobygames.com/images/covers/large/1149301927-00.jpg" alt="heroes Game Cover">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p class="price_item">$20</p>
                <p><a href="#" class="btn btn-success btn-xs" role="button">Buy Now</a></p>
            </div>
          </div>
        </div>
    </div>
</div>